@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
  color: white;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* Slick Custom Styles */

.slick-track {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* the slides */
.slick-slide {
  margin: 0 18px;
}

/* the parent */
.slick-list {
  margin: 0 -18px;
}


.slick-next {
  z-index: 100;
  right: -12px;
}

.slick-prev{
  z-index: 100;
  left: -12px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

@media screen and (max-width: 1024px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

.translate-y-full {
  transform: translateY(-100%);
}

body {
  margin: 0;
  padding: 0;
}

#secondaryNav,
#mainNav {
  transition: transform 0.3s ease;
}

/* #mainNav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
    } */

/* #secondaryNav{
        position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1001;
    } */

#secondaryNav,
#mainNav {
  transition: transform 0.3s ease;
}

#mainNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#hero {
  margin-top: 80px;
  transition: margin-top 0.3s ease;
}
